/* GENERAL */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.container-fluid {
  max-width: 1310px;
}

/* HEADER */

.container-fluid .header-container {
  background-color: #f72210;
  color: white;
  padding: 20px 10px 15px;
}

.header-container .weather-icon {
  align-self: flex-end;
  height: 34px;
  width: 34px;
}

.header-container .temperature,
.header-container .city-info {
  margin-bottom: 0;
  padding-left: 8px;
  font-size: 15px;
  font-weight: bolder;
}

.header-container .city-info {
  padding-right: 5px;
}

.header-container .r-arrow-weather {
  height: 11px;
  width: 6px;
}

.date {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 16px;
  font-weight: lighter;
}

.header-container .logo {
  filter: invert(100%);
}

.header-container .col-4:last-child {
  padding-right: 0;
}

.header-container .sign-in {
  font-size: 18px;
  font-weight: bolder;
  padding-left: 10px;
  padding-right: 10px;
}

.header-container .sign-in:hover {
  cursor: pointer;
}

.header-container .sub-header-b {
  font-size: 18px;
  font-weight: bolder;
  background-color: white;
  color: #f72210;
  padding-left: 12px;
  padding-right: 13px;
}

.sub-header-b .r-arrow-sub-b {
  height: 14px;
  padding-left: 16px;
  filter: brightness(0) saturate(100%) invert(24%) sepia(99%) saturate(6036%) hue-rotate(357deg) brightness(101%) contrast(94%);
}

/* NAVBAR */

.container-fluid .navbar {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar .navbar-nav {
}

.navbar-nav .nav-item {
  flex-grow: 1;
  text-align: center;
  padding: 0;
}

.navbar-nav .nav-item:first-child {
  padding-left: 0;
}

.nav-item .nav-link {
  font-size: 19px;
  font-weight: bolder;
  border-right: 1px solid #d9d9d9;
  color: black;
  padding: 0;
}

.nav-item:nth-child(11) .nav-link {
  border: 0;
}

.navbar .nav-input {
  height: 54px;
  width: 60px;
  border: 0;
}

.navbar-nav .nav-form {
  width: 150px;
}

.nav-form .nav-search {
  height: 20px;
  width: 20px;
}

/* MAIN */

main.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

/* MAIN SECTION */

.col0,
.col1,
.col2,
.col3 {
  padding-left: 15px;
  padding-right: 15px;
}

.col0 {
  width: 71%;
}

.col1 {
  width: 41%;
}

.col2 {
  width: 59%;
}

.col3 {
  width: 29%;
}

/* FEATURED STORIES */

.img-new {
  margin-bottom: 9px;
}

.title-cont {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
  font-weight: bolder;
}

.title-new {
  font-size: 24px;
  font-weight: bolder;
}

.title-new:hover {
  font-size: 24px;
  font-weight: bolder;
  color: black;
  text-decoration: 1px underline #f72210;
}

.desc-new {
  font-size: 15px;
  line-height: 20px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* Culture & Travel */

.ct-title {
  font-size: 20px;
  line-height: 22px;
  font-family: 'Lora', Arial, Helvetica, sans-serif;
}

.ct-title:hover {
  color: black;
  text-decoration: none;
}

.ct-desc {
  font-size: 15px;
  line-height: 20px;
  color: rgba(39, 39, 39, 0.5);
  font-family: Helvetica, Arial, sans-serif;
}

/* MORE STORIES */

.border-t {
  border-top: 1px solid #ddd;
  padding-top: 14px;
  padding-right: 14px;
}

.ms-text {
  padding-left: 0;
}

.ms-title {
  font-size: 17px;
  line-height: 21px;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
}

.ms-title:hover {
  color: black;
  text-decoration: 1px underline #f72210;
}

.ms-desc {
  font-size: 15px;
  line-height: 20px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

/* OPINION */

.opinion {
  margin-bottom: 15px;
}

.opinion-title {
  font-size: 17px;
  line-height: 21px;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
}

.opinion-title:hover {
  color: #f72210;
  text-decoration: none;
}

.author {
  font-size: 14px;
  line-height: 21px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #212529;
}

/* THE DEBATE */

.debate {
  margin-bottom: 25px;
}

.debate-border-t1 {
  border-top: 4px solid #f72210;
}

.debate-border-t2 {
  border-top: 4px solid #1c87fb;
}

.title-box {
  padding-top: 14px;
  padding-left: 0;
}

.debate-title {
  font-size: 17px;
  line-height: 21px;
  font-weight: bolder;
  font-family: 'Roboto Condensed', sans-serif;
}

.border-author {
  height: 4px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.author-info {
  font-size: 17px;
  line-height: 21px;
  font-family: 'Roboto Condensed', sans-serif;
}

.gray-author {
  color: #555;
  font-weight: lighter;
}

.debate-author {
  margin-bottom: 0;
  font-weight: bolder;
}

.debate-versus {
  height: 40px;
  width: 40px;
  margin: 14px auto 18px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.mag-h {
  height: 290px;
}

.magazine-img1 {
  background: url("https://d.newsweek.com/en/full/1567892/bernie-sanders-medicare-all.jpg?w=466&h=311&q=90&f=1848d976cd4a3b658a84d19e87e3c7f1") center center;
}

.magazine-img2 {
  background: url("https://d.newsweek.com/en/full/1571763/crazy-market-01.jpg?w=466&h=311&l=52&t=47&q=90&f=ff7ff0353122be47b92e55b8dcde85ca") center center;
}

.magazine-img3 {
  background: url("https://d.newsweek.com/en/full/1572578/per-hollywood-banner.jpg?w=466&h=311&l=50&t=47&q=90&f=2d0e511382ca9561a78fc95ca14e044e") center center;
}

.magazine-img4 {
  background: url("https://d.newsweek.com/en/full/1573187/hor-btn-pandemics-01.jpg?w=466&h=311&q=90&f=6b3df08452d42adbcafe3238dd679c30") center center;
}

.magazine-img5 {
  background: url("https://d.newsweek.com/en/full/1572525/cul-uncharted-stadiums-banner.jpg?w=466&h=311&q=90&f=a57d51bbafc7d141842f113cedb6dea1") center center;
}

.magazine-img6 {
  background: url("https://d.newsweek.com/en/full/1572537/cul-ps-elainewelteroth.jpg?w=466&h=311&q=90&f=d0be6c4a2061644d054dda643a3ce72b") center center;
}

.magazine-focus {
  background: url("https://d.newsweek.com/en/full/1572546/aftermath.jpg?w=480&h=320&q=90&f=33d6a4844efac639705674e960d90ba9") center center;
  height: 319px;
}

.sub-magazine {
  position: relative;
}

.sub-mag-abs {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
}

.sub-mag-img {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center top no-repeat;
  background-size: 200% 100%;
}

.newsletter .col-7 {
  max-width: 190px;
  padding: 0;
}

.img-h-300 {
  height: 300px;
}
